In [3]:
import pandas as pd

df = pd.read_csv("output/final_dataset.csv")
df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [5]:
import pandas as pd

df = pd.read_csv("output/final_dataset.csv")

gold_df = df[df["membership"] == "Gold"]

city_revenue = (
    gold_df
    .groupby("city")["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

print(city_revenue.head(1))

city
Chennai    1080909.79
Name: total_amount, dtype: float64

In [ ]:
import pandas as pd

  
df = pd.read_csv("output/final_dataset.csv")    

cuisine_avg_order = (
    df
    .groupby("cuisine")["total_amount"]
    .mean()
    .sort_values(ascending=False)
)

print(cuisine_avg_order.head(1))

cuisine
Mexican    808.021344
Name: total_amount, dtype: float64

In [ ]:
import pandas as pd

  
df = pd.read_csv("output/final_dataset.csv")    

user_total = (
    df
    .groupby("user_id")["total_amount"]
    .sum()
)

high_value_users = user_total[user_total > 1000]

count_users = high_value_users.count()

print("Number of users with total orders > ₹1000:", count_users)

Number of users with total orders > ₹1000: 2544

In [ ]:
import pandas as pd

  
df = pd.read_csv("output/final_dataset.csv")    

rating_bins = [3.0, 3.5, 4.0, 4.5, 5.0]
rating_labels = [
    "3.0–3.5",
    "3.6–4.0",
    "4.1–4.5",
    "4.6–5.0"
]

df["rating_range"] = pd.cut(
    df["rating"],
    bins=rating_bins,
    labels=rating_labels,
    include_lowest=True
)

rating_revenue = (
    df
    .groupby("rating_range")["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

print(rating_revenue)
print("\nHighest revenue range:")
print(rating_revenue.head(1))

rating_range
4.6–5.0    2197030.75
3.0–3.5    2136772.70
4.1–4.5    1960326.26
3.6–4.0    1717494.41
Name: total_amount, dtype: float64

Highest revenue range:
rating_range
4.6–5.0    2197030.75
Name: total_amount, dtype: float64

C:\Users\lenovo\AppData\Local\Temp\ipykernel_24140\3369135215.py:25: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby("rating_range")["total_amount"]

In [ ]:
import pandas as pd

  
df = pd.read_csv("output/final_dataset.csv")    

gold_df = df[df["membership"] == "Gold"]

city_avg_order = (
    gold_df
    .groupby("city")["total_amount"]
    .mean()
    .sort_values(ascending=False)
)

print(city_avg_order.head(1))

city
Chennai    808.45908
Name: total_amount, dtype: float64

In [ ]:
import pandas as pd

  
df = pd.read_csv("output/final_dataset.csv")    

restaurant_count = (
    df
    .groupby("cuisine")["restaurant_id"]
    .nunique()
    .rename("restaurant_count")
)

revenue_per_cuisine = (
    df
    .groupby("cuisine")["total_amount"]
    .sum()
    .rename("total_revenue")
)

cuisine_summary = pd.concat(
    [restaurant_count, revenue_per_cuisine],
    axis=1
)

result = cuisine_summary.sort_values(
    by=["restaurant_count", "total_revenue"],
    ascending=[True, False]
)

print(result.head(5))

         restaurant_count  total_revenue
cuisine
Chinese               120     1930504.65
Italian               126     2024203.80
Indian                126     1971412.58
Mexican               128     2085503.09

In [ ]:
import pandas as pd

  
df = pd.read_csv("output/final_dataset.csv")    

total_orders = df["order_id"].nunique()

gold_orders = df[df["membership"] == "Gold"]["order_id"].nunique()

percentage = round((gold_orders / total_orders) * 100)

print(f"Percentage of orders placed by Gold members: {percentage}%")

Percentage of orders placed by Gold members: 50%

In [ ]:
import pandas as pd

  
df = pd.read_csv("output/final_dataset.csv")    

restaurants_list = [
    "Grand Cafe Punjabi",
    "Grand Restaurant South Indian",
    "Ruchi Mess Multicuisine",
    "Ruchi Foods Chinese"
]

filtered_df = df[df["restaurant_name_x"].isin(restaurants_list)]

summary = (
    filtered_df
    .groupby("restaurant_name_x")
    .agg(
        total_orders=("order_id", "nunique"),
        avg_order_value=("total_amount", "mean")
    )
)

summary = summary[summary["total_orders"] < 20]

result = summary.sort_values("avg_order_value", ascending=False)

print(result)

                     total_orders  avg_order_value
restaurant_name_x
Ruchi Foods Chinese            19       686.603158

In [ ]:
import pandas as pd

  
df = pd.read_csv("output/final_dataset.csv")    

filtered_df = df[
    ((df["membership"] == "Gold") & (df["cuisine"] == "Indian")) |
    ((df["membership"] == "Gold") & (df["cuisine"] == "Italian")) |
    ((df["membership"] == "Regular") & (df["cuisine"] == "Indian")) |
    ((df["membership"] == "Regular") & (df["cuisine"] == "Chinese"))
]

combo_revenue = (
    filtered_df
    .groupby(["membership", "cuisine"])["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

print(combo_revenue)

membership  cuisine
Gold        Italian    1005779.05
Regular     Indian      992100.27
Gold        Indian      979312.31
Regular     Chinese     952790.91
Name: total_amount, dtype: float64

In [ ]:
import pandas as pd

  
df = pd.read_csv("output/final_dataset.csv")    

df["order_date"] = pd.to_datetime(df["order_date"])

df["quarter"] = df["order_date"].dt.to_period("Q")

quarter_revenue = (
    df
    .groupby("quarter")["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

print(quarter_revenue)

quarter
2023Q3    2037385.10
2023Q4    2018263.66
2023Q1    1993425.14
2023Q2    1945348.72
2024Q1      17201.50
Freq: Q-DEC, Name: total_amount, dtype: float64

C:\Users\lenovo\AppData\Local\Temp\ipykernel_24140\2463552085.py:7: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df["order_date"] = pd.to_datetime(df["order_date"])

In [ ]:
import pandas as pd

  
df = pd.read_csv("output/final_dataset.csv")    

gold_orders = df[df["membership"] == "Gold"]["order_id"].nunique()

print("Total orders placed by Gold members:", gold_orders)

Total orders placed by Gold members: 4987

In [ ]:
import pandas as pd

  
df = pd.read_csv("output/final_dataset.csv")    

hyderabad_df = df[df["city"] == "Hyderabad"]

total_revenue = round(hyderabad_df["total_amount"].sum())

print("Total revenue from Hyderabad:", total_revenue)

Total revenue from Hyderabad: 1889367

In [ ]:
import pandas as pd

  
df = pd.read_csv("output/final_dataset.csv")    

distinct_users = df["user_id"].nunique()

print("Number of distinct users who placed at least one order:", distinct_users)

Number of distinct users who placed at least one order: 2883

In [ ]:
import pandas as pd

  
df = pd.read_csv("output/final_dataset.csv")    

gold_df = df[df["membership"] == "Gold"]

avg_order_value = round(gold_df["total_amount"].mean(), 2)

print("Average order value for Gold members:", avg_order_value)

Average order value for Gold members: 797.15

In [ ]:
import pandas as pd

  
df = pd.read_csv("output/final_dataset.csv")    

high_rated_df = df[df["rating"] >= 4.5]

total_orders = high_rated_df["order_id"].nunique()

print("Total orders for restaurants with rating ≥ 4.5:", total_orders)

Total orders for restaurants with rating ≥ 4.5: 3374

In [ ]:
import pandas as pd

  
df = pd.read_csv("output/final_dataset.csv")    

gold_df = df[df["membership"] == "Gold"]

city_revenue = (
    gold_df
    .groupby("city")["total_amount"]
    .sum()
    .sort_values(ascending=False)
)

top_city = city_revenue.index[0]
print("Top revenue city (Gold members):", top_city)

orders_in_top_city = gold_df[gold_df["city"] == top_city]["order_id"].nunique()

print("Total orders in top revenue city (Gold members):", orders_in_top_city)

Top revenue city (Gold members): Chennai
Total orders in top revenue city (Gold members): 1337

In [ ]:
import pandas as pd

df = pd.read_csv("output/final_dataset.csv")    

print("Total number of rows:", df.shape[0])

Total number of rows: 10000